<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>ebook_res</param-name>
        <param-value>/Users/hetulpatel/NetBeansProjects/Pages6/web/Ebooks</param-value>
    </context-param>
    <servlet>
        <servlet-name>ServletEbookDelivery</servlet-name>
        <servlet-class>servlets.ServletEbookDelivery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBuysBook</servlet-name>
        <servlet-class>servlets.UserBuysBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBookFromCart</servlet-name>
        <servlet-class>servlets.RemoveBookFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddsBookToCart</servlet-name>
        <servlet-class>servlets.UserAddsBookToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutservlet</servlet-name>
        <servlet-class>servlets.logoutservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>servlets.loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisterationServlet</servlet-name>
        <servlet-class>servlets.UserRegisterationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEbookDelivery</servlet-name>
        <url-pattern>/ServletEbookDelivery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBuysBook</servlet-name>
        <url-pattern>/UserBuysBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBookFromCart</servlet-name>
        <url-pattern>/RemoveBookFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddsBookToCart</servlet-name>
        <url-pattern>/UserAddsBookToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutservlet</servlet-name>
        <url-pattern>/logoutservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterationServlet</servlet-name>
        <url-pattern>/UserRegisterationServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <location>/error.jsp</location>
    </error-page>
</web-app>
